___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [23]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [24]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [37]:
df.loc[[1:3],'W']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [11]:
a=['W','Y','Z']
df[a]

          W         Y         Z
A  0.302665 -1.706086 -1.159119
B -0.134841  0.166905  0.184502
C  0.807706  0.638787  0.329646
D -0.497104 -0.943406  0.484752
E -0.116773  0.238127  1.996652

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [12]:
# SQL Syntax (NOT RECOMMENDED!)
df.X

A    1.693723
B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: X, dtype: float64

DataFrame Columns are just Series

In [190]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [13]:
df['new'] = df['W'] + df['Y'] +df['W']

In [14]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.100755
B -0.134841  0.390528  0.166905  0.184502 -0.102777
C  0.807706  0.072960  0.638787  0.329646  2.254199
D -0.497104 -0.754070 -0.943406  0.484752 -1.937614
E -0.116773  1.901755  0.238127  1.996652  0.004580

** Removing Columns**

In [17]:
df.drop('E',axis=0)

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.100755
B -0.134841  0.390528  0.166905  0.184502 -0.102777
C  0.807706  0.072960  0.638787  0.329646  2.254199
D -0.497104 -0.754070 -0.943406  0.484752 -1.937614

In [194]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
df.drop('new',axis=1,inplace=True)

In [20]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [40]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -3.123172
B  1.025984 -0.156598 -0.031579  0.649826  2.020389
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
D  0.147027 -0.479448  0.558769  1.024810  0.852823
E -0.925874  1.862864 -1.133817  0.610478 -2.985566

In [36]:
df.loc['A']

W     -0.993263
X      0.196800
Y     -1.136645
Z      0.000366
new   -3.123172
Name: A, dtype: float64

Or select based off of position instead of label

In [21]:
df.iloc[1:4]

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

** Selecting subset of rows and columns **

In [22]:
df.loc['B','Y']

0.16690463609281317

In [47]:
df.loc['A']

W     -0.993263
X      0.196800
Y     -1.136645
Z      0.000366
new   -3.123172
Name: A, dtype: float64

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [50]:
s = pd.Series(np.nan, index=['A','B','C','D'])
s

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [56]:
df.ix[:3,:2]

/Users/aniruddhachoudhury/anaconda3/envs/nw/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/aniruddhachoudhury/anaconda3/envs/nw/lib/python3.7/site-packages/pandas/core/indexing.py:808: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

          W         X
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [57]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -3.123172
B  1.025984 -0.156598 -0.031579  0.649826  2.020389
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
D  0.147027 -0.479448  0.558769  1.024810  0.852823
E -0.925874  1.862864 -1.133817  0.610478 -2.985566

In [58]:
df>0

       W      X      Y      Z    new
A  False   True  False   True  False
B   True  False  False   True   True
C   True  False  False  False   True
D   True  False   True   True   True
E  False   True  False   True  False

In [59]:
df[df>0]

          W         X         Y         Z       new
A       NaN  0.196800       NaN  0.000366       NaN
B  1.025984       NaN       NaN  0.649826  2.020389
C  2.154846       NaN       NaN       NaN  3.554368
D  0.147027       NaN  0.558769  1.024810  0.852823
E       NaN  1.862864       NaN  0.610478       NaN

In [60]:
df[df['W']>0]

          W         X         Y         Z       new
B  1.025984 -0.156598 -0.031579  0.649826  2.020389
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
D  0.147027 -0.479448  0.558769  1.024810  0.852823

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [207]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [62]:
df[df['W']>0.2][['Y','X']]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259

For two conditions you can use | and & with parenthesis:

In [208]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [76]:
df[(df['W']>0) | (df['Y']>0)]

          W         X         Y         Z       new
B  1.025984 -0.156598 -0.031579  0.649826  2.020389
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
D  0.147027 -0.479448  0.558769  1.024810  0.852823

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [68]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -3.123172
B  1.025984 -0.156598 -0.031579  0.649826  2.020389
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
D  0.147027 -0.479448  0.558769  1.024810  0.852823
E -0.925874  1.862864 -1.133817  0.610478 -2.985566

In [77]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z       new
0     A -0.993263  0.196800 -1.136645  0.000366 -3.123172
1     B  1.025984 -0.156598 -0.031579  0.649826  2.020389
2     C  2.154846 -0.610259 -0.755325 -0.346419  3.554368
3     D  0.147027 -0.479448  0.558769  1.024810  0.852823
4     E -0.925874  1.862864 -1.133817  0.610478 -2.985566

In [85]:
newind = 'CA NY WY OR CO'.split()

In [86]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [87]:
df['States'] = newind

In [88]:
df

          W         X         Y         Z       new States
A -0.993263  0.196800 -1.136645  0.000366 -3.123172     CA
B  1.025984 -0.156598 -0.031579  0.649826  2.020389     NY
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368     WY
D  0.147027 -0.479448  0.558769  1.024810  0.852823     OR
E -0.925874  1.862864 -1.133817  0.610478 -2.985566     CO

In [89]:
df.set_index('States')

               W         X         Y         Z       new
States
CA     -0.993263  0.196800 -1.136645  0.000366 -3.123172
NY      1.025984 -0.156598 -0.031579  0.649826  2.020389
WY      2.154846 -0.610259 -0.755325 -0.346419  3.554368
OR      0.147027 -0.479448  0.558769  1.024810  0.852823
CO     -0.925874  1.862864 -1.133817  0.610478 -2.985566

In [90]:
df

          W         X         Y         Z       new States
A -0.993263  0.196800 -1.136645  0.000366 -3.123172     CA
B  1.025984 -0.156598 -0.031579  0.649826  2.020389     NY
C  2.154846 -0.610259 -0.755325 -0.346419  3.554368     WY
D  0.147027 -0.479448  0.558769  1.024810  0.852823     OR
E -0.925874  1.862864 -1.133817  0.610478 -2.985566     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [100]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [101]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [102]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.382920  1.482495
   2  0.961458 -2.141212
   3  0.992573  1.192241
G2 1 -1.046780  1.292765
   2 -1.467514 -0.494095
   3 -0.162535  0.485809

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [103]:
df.loc['G1'].loc[2]

A    0.961458
B   -2.141212
Name: 2, dtype: float64

In [104]:
df.index.names

FrozenList([None, None])

In [105]:
df.index.names = ['Group','Num']

In [106]:
df

                  A         B
Group Num
G1    1   -1.382920  1.482495
      2    0.961458 -2.141212
      3    0.992573  1.192241
G2    1   -1.046780  1.292765
      2   -1.467514 -0.494095
      3   -0.162535  0.485809

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [107]:
df.xs(['G1',1])

A   -1.382920
B    1.482495
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!